@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  /* margin: 0;
  place-items: center;
  min-width: 320px; */
  min-height: 100vh;
  overflow-x: hidden;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left; */
}

.profile-card {
  max-width: 1280px;
  padding: 2rem;
  text-align: left;
  border: 1px solid transparent;
  border-color: #646cff;
}

.works {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
  border: 1px solid transparent;
  border-color: #646cff;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #ffffff;
    background-color: #0e0e0e;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


.hover-border{
  @apply border rounded-xl border-gray-400 hover:border-white transition-all duration-300 ease-in-out;
}

.text-gray-hover-white{
  @apply text-gray-500 hover:text-white hover:scale-110  hover:animate-hoverLoop transition-all duration-300 ease-in-out;
}

.hover-border:hover {
  animation: hoverLoopStart 0.3s ease-in-out, hoverLoop 1s 0.3s infinite;
}

.hover-border:not(:hover) {
  animation: hoverLoopEnd 0.5s ease-out;
}

@keyframes hoverLoopStart {
  0% {
    transform: scale(1) rotate(0deg);
  }
  100% {
    transform: scale(1.1) rotate(0deg);
  }
}

@keyframes hoverLoopEnd {
  0% {
    transform: scale(1.1) rotate(0deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}


.profileBackground{
  -webkit-mask-image: linear-gradient(rgb(0 0 0 / 1),rgb(0 0 0 / 0.0),rgb(0 0 0 / 0));
  mask-image: linear-gradient(rgb(0 0 0 / 1),rgb(0 0 0 / 0.0),rgb(0 0 0 / 0));
}

.projectThumbnail {
  -webkit-mask-image: linear-gradient(to right, rgb(0 0 0 / 1), rgb(0 0 0 / 0.7), rgb(0 0 0 / 0.3), rgb(0 0 0 / 0));
  mask-image: linear-gradient(to right, rgb(0 0 0 / 1), rgb(0 0 0 / 0.7), rgb(0 0 0 / 0.3), rgb(0 0 0 / 0));
}